<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.text_field :parent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
