<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @component.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @component.level %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @component.parent %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
