<p id="notice"><%= notice %></p>

<h1>Listing Rbstables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rbstables.each do |rbstable| %>
      <tr>
        <td><%= rbstable.name %></td>
        <td><%= link_to 'Show', rbstable %></td>
        <td><%= link_to 'Edit', edit_rbstable_path(rbstable) %></td>
        <td><%= link_to 'Destroy', rbstable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rbstable', new_rbstable_path %>
