<%= form_for(@wbstable) do |f| %>
  <% if @wbstable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wbstable.errors.count, "error") %> prohibited this wbstable from being saved:</h2>

      <ul>
      <% @wbstable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Project" %><br>
    <%= f.collection_select :project_id, Project.all, :id, :name, {multiple: false} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
