<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wbstable.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@wbstable.project_id).name %>
</p>

<%= link_to 'Edit', edit_wbstable_path(@wbstable) %> |
<%= link_to 'Back', wbstables_path %>
