<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delphi.name %>
</p>

<p>
  <strong>Workpackage:</strong>
  <%= @delphi.workpackage %>
</p>

<p>
  <strong>Round:</strong>
  <%= @delphi.round %>
</p>

<p>
  <strong>Pessimistic:</strong>
  <%= @delphi.pessimistic %>
</p>

<p>
  <strong>Realistic:</strong>
  <%= @delphi.realistic %>
</p>

<p>
  <strong>Optimistic:</strong>
  <%= @delphi.optimistic %>
</p>

<%= link_to 'Edit', edit_delphi_path(@delphi) %> |
<%= link_to 'Back', delphis_path %>
