<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delphi.name %>
</p>

<p>
  <strong>Workpackage:</strong>
  <%= @delphi.workpackage %>
</p>

<p>
  <strong>Value:</strong>
  <%= @delphi.value %>
</p>


<%= link_to 'Edit', edit_delphi_path(@delphi) %> |
<%= link_to 'Back', delphis_path %>
