<p id="notice"><%= notice %></p>

<p>
  <strong>Workpackage:</strong>
  <%= @ram.workpackage %>
</p>

<p>
  <strong>Node:</strong>
  <%= @ram.node %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ram.project %>
</p>

<p>
  <strong>Level:</strong>
  <%= @ram.level %>
</p>

<p>
  <strong>Order:</strong>
  <%= @ram.order %>
</p>

<%= link_to 'Edit', edit_ram_path(@ram) %> |
<%= link_to 'Back', rams_path %>
