<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pbstable.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@pbstable.project_id).name %>
</p>

<%= link_to 'Edit', edit_pbstable_path(@pbstable) %> |
<%= link_to 'Back', pbstables_path %>
