<p id="notice"><%= notice %></p>

<h1>Listing Pbs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pbs.each do |pb| %>
      <tr>
        <td><%= pb.title %></td>
        <td><%= link_to 'Show', pb %></td>
        <td><%= link_to 'Edit', edit_pb_path(pb) %></td>
        <td><%= link_to 'Destroy', pb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pbs', new_pb_path %>
